{% extends "layouts/base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h2 class="display d-1 text-center">Administrador de Tareas en Línea</h2>
        <p>Bienvenido, aquí vas a poder organizar tus tareas, listándolas por nivel de prioridad, como así también
            indicando las tareas completadas a medida que vayas finalizando cada una.</p>

        {% if user.is_authenticated %}

        {% else %}
        <div class="text-center">

            <a class="btn btn-dark" href="{% url 'signin' %}">
                Iniciar Sesión
            </a>
            <a class="btn btn-dark" href="{% url 'signup' %}">
                Registrarse
            </a>

        </div>
        {% endif %}
    </section>

</main>

{% endblock %}